.solutions-section {
  padding: 90px 30px;
    width: 100%;
  padding: 120px 80px;
  font-family: "Neue Montreal", sans-serif;
  background: #fff;
  color: black;
}

/* TOP HEADING */
.solutions-top-text {
  font-size: 40px;
  margin-bottom: 50px;
}

/* GRID */
.solutions-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.solutions-left img {
  width: 100%;
  border-radius: 4px;
}

.solutions-small-text {
  font-size: 18px;
  line-height: 1.4;
}

.plan-item {
  font-size: 20px;
  padding: 14px 0;
  border-bottom: 1px solid black;
}

.solutions-main-heading {
  margin-top: 80px;
  font-size: 48px;
  font-weight: 600;
}


/* MOBILE */
@media (max-width: 768px) {
  .solutions-section {
    padding: 60px 20px;
  }

  .solutions-grid {
    grid-template-columns: 1fr;
  }

  .solutions-top-text {
    font-size: 32px;
  }

  .solutions-main-heading {
    font-size: 34px;
  }
}
